<body class ='bodycolor'>
<div class="image" style="background-image: url(<%= asset_path 'group.jpeg' %>);">
</div>


<div class="container text-center">
        <div class="row row-cols-3">
          <div class="colblue bold">Stat</div>
          <div class="colwhite bold" >Stat Leader</div>
          <div class="colred bold ">Number Of The Stat</div>
          <div class="colblue">Passing Yards</div>
          <div class="colwhite" >Josh Allen</div>
          <div class="colred">3,731</div>
          <div class="colblue">Rushing Yards</div>
          <div class="colwhite" >James Cook </div>
          <div class="colred">1009</div>
          <div class="colblue">Rushing Touchdowns</div>
          <div class="colwhite" >James Cook</div>
          <div class="colred">16</div>
          <div class="colblue">Receiving Yards</div>
          <div class="colwhite" >Khalil Shakir</div>
          <div class="colred">821</div>
          <div class="colblue">Receptions</div>
          <div class="colwhite" >Khalil Shakir</div>
          <div class="colred">76</div>
          <div class="colblue">Receiving Touchdowns</div>
          <div class="colwhite" >Mack Hollins</div>
          <div class="colred">5</div>
          <div class="colblue">Tackles</div>
          <div class="colwhite" >Dorian Williams</div>
          <div class="colred">117</div>
          <div class="colblue">Interceptions</div>
          <div class="colwhite" >7 players tied</div>
          <div class="colred">2</div>
          <div class="colblue">Sacks</div>
          <div class="colwhite" >Gregory Rousseau</div>
          <div class="colred">8</div>
          <div class="colblue">Fumble Recoveries</div>
          <div class="colwhite" >Dorian Williams</div>
          <div class="colred">3</div>
          <div class="colblue">Defensive Touchdowns</div>
          <div class="colwhite" > Taron Johnson</div>
          <div class="colred">2</div>
      


        </div>
      </div>
      </div>
      </body>