<body class ='bodycolor'>

<div class="image" style="background-image: url(<%= asset_path 'season.jpeg' %>);">
</div>
<div class = "bestmomenttext">Regular Season</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-6 mb-4">
            <div class="accordion accordion-flush" id="accordionFlushExample1">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed buttonred" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Week 1 Bills V Cardinals W(34-28)
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample1">
                        <div class="accordion-body">The Bills opened the season with a 34–28 victory over the Arizona Cardinals at Highmark Stadium.</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 mb-4">
            <div class="accordion accordion-flush" id="accordionFlushExample2">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed buttonblue" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Week 2 Bills V Dolphins W(31-10)
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample2">
                        <div class="accordion-body">The Bills secured a 31–10 win against the Miami Dolphins at Hard Rock Stadium.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 mb-4">
            <div class="accordion accordion-flush" id="accordionFlushExample3">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed buttonred" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            Week 3 Bills V Jaguars W(47-10)
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample3">
                        <div class="accordion-body">The Bills dominated the Jacksonville Jaguars 47–10 at Highmark Stadium.</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 mb-4">
            <div class="accordion accordion-flush" id="accordionFlushExample4">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed buttonblue" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                            Week 4 Bills V Ravens L(10-35)
                        </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample4">
                        <div class="accordion-body">The Bills suffered a 35–10 loss to the Baltimore Ravens at M&T Bank Stadium.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 mb-4">
            <div class="accordion accordion-flush" id="accordionFlushExample5">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed buttonred" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                            Week 5 Bills V Texans L(20-23)
                        </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample5">
                        <div class="accordion-body">The Bills were narrowly defeated 23–20 by the Houston Texans at NRG Stadium.</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 mb-4">
            <div class="accordion accordion-flush" id="accordionFlushExample6">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed buttonblue" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                            Week 6 Bills V Jets W(23-20)
                        </button>
                    </h2>
                    <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample6">
                        <div class="accordion-body">The Bills edged out the New York Jets 23–20 at MetLife Stadium.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="row">
    <div class="col-12 col-md-6 mb-4">
        <div class="accordion accordion-flush" id="accordionFlushExample8">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed buttonred" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                        Week 7 Bills V Titans W(34-10)
                    </button>
                </h2>
                <div id="flush-collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample8">
                    <div class="accordion-body">The Bills rebounded with a 34–10 victory over the Tennessee Titans at Highmark Stadium.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 mb-4">
        <div class="accordion accordion-flush" id="accordionFlushExample7">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed buttonblue" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                        Week 8 Bills V Seahawks W(31-10)
                    </button>
                </h2>
                <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample7">
                    <div class="accordion-body">They dominated the Seattle Seahawks 31–10 at Lumen Field.</div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12 col-md-6 mb-4">
        <div class="accordion accordion-flush" id="accordionFlushExample9">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed buttonred" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
                        Week 9 Bills V Dolphins W(30-27)
                    </button>
                </h2>
                <div id="flush-collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample9">
                    <div class="accordion-body"> The Bills edged out the Miami Dolphins 30–27 at Highmark Stadium.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 mb-4">
        <div class="accordion accordion-flush" id="accordionFlushExample10">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed buttonblue" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
                        Week 10 Bills V Colts W(30-20)
                    </button>
                </h2>
                <div id="flush-collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample10">
                    <div class="accordion-body">The Bills secured a 30–20 win against the Indianapolis Colts at Lucas Oil Stadium.</div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-12 col-md-6 mb-4">
        <div class="accordion accordion-flush" id="accordionFlushExample11">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed buttonred" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEleven" aria-expanded="false" aria-controls="flush-collapseEleven">
                        Week 11 Bills V Cheifs W(30-21)
                    </button>
                </h2>
                <div id="flush-collapseEleven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample11">
                    <div class="accordion-body"> The Bills triumphed over the Kansas City Chiefs 30–21 at Highmark Stadium.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 mb-4">
        <div class="accordion accordion-flush" id="accordionFlushExample12">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed buttonblue" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwelve" aria-expanded="false" aria-controls="flush-collapseTwelve">
                        Week 12 Bye Week
                    </button>
                </h2>
                <div id="flush-collapseTwelve" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample12">
                    <div class="accordion-body">The Bills did not play a game this week.</div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12 col-md-6 mb-4">
        <div class="accordion accordion-flush" id="accordionFlushExample13">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed buttonred" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThirteen" aria-expanded="false" aria-controls="flush-collapseThirteen">
                        Week 13 Bills V 49ers W(35-10)
                    </button>
                </h2>
                <div id="flush-collapseThirteen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample13">
                    <div class="accordion-body"> The Bills dominated the San Francisco 49ers 35–10 at Highmark Stadium.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 mb-4">
        <div class="accordion accordion-flush" id="accordionFlushExample14">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed buttonblue" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFourteen" aria-expanded="false" aria-controls="flush-collapseFourteen">
                        Week 14 Bills V Rams L(22-42)
                    </button>
                </h2>
                <div id="flush-collapseFourteen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample14">
                    <div class="accordion-body">The Bills were narrowly defeated 44–42 by the Los Angeles Rams at SoFi Stadium.</div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12 col-md-6 mb-4">
        <div class="accordion accordion-flush" id="accordionFlushExample15">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed buttonred" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFifteen" aria-expanded="false" aria-controls="flush-collapseFifteen">
                        Week 15 Bills V Lions W(48-12)
                    </button>
                </h2>
                <div id="flush-collapseFifteen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample15">
                    <div class="accordion-body">  They edged out the Detroit Lions 48–42 at Ford Field.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 mb-4">
        <div class="accordion accordion-flush" id="accordionFlushExample16">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed buttonblue" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSixteen" aria-expanded="false" aria-controls="flush-collapseSixteen">
                        Week 16 Bills V Patriots W(24-21)
                    </button>
                </h2>
                <div id="flush-collapseSixteen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample16">
                    <div class="accordion-body">The Bills secured a 24–21 victory over the New England Patriots at Highmark Stadium.</div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-12 col-md-6 mb-4">
        <div class="accordion accordion-flush" id="accordionFlushExample17">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed buttonred" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeventeen" aria-expanded="false" aria-controls="flush-collapseSeventeen">
                        Week 17 Bills V Jets W(40-14)
                    </button>
                </h2>
                <div id="flush-collapseSeventeen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample17">
                    <div class="accordion-body"> The Bills dominated the New York Jets 40–14 at Highmark Stadium.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 mb-4">
        <div class="accordion accordion-flush" id="accordionFlushExample18">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed buttonblue" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEighteen" aria-expanded="false" aria-controls="flush-collapseEighteen">
                        Week 18 Bills V Patriots L(16-23)
                    </button>
                </h2>
                <div id="flush-collapseEighteen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample18">
                    <div class="accordion-body">The Bills concluded the regular season with a 23–16 loss to the New England Patriots at Gillette Stadium. </div>
                </div>
            </div>
        </div>
    </div>
</div>



</div>



<div class = "bestmomenttext">Playoffs</div>


<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-6 mb-4">
            <div class="accordion accordion-flush" id="accordionFlushExample19">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed buttonred" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNineTeen" aria-expanded="false" aria-controls="flush-collapseNineTeen">
                            Wildcard Bills V Broncos W(31-7)
                        </button>
                    </h2>
                    <div id="flush-collapseNineTeen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample19">
                        <div class="accordion-body">Tthe Bills secured a 31–7 victory over the Denver Broncos in the Wild Card Round and advanced to the Divisional Round.</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 mb-4">
            <div class="accordion accordion-flush" id="accordionFlushExample20">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed buttonblue" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwenty" aria-expanded="false" aria-controls="flush-collapseTwenty">
                            Divisional Bills V Ravens W(27-25)
                        </button>
                    </h2>
                    <div id="flush-collapseTwenty" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample20">
                        <div class="accordion-body">In the divisional round the Bills edged out the Baltimore Ravens 27–25 advancing to the AFC Championship game.</div>
                    </div>
                </div>
            </div>
        </div>


<div class="col-12 col-md-6 mb-4">
    <div class="accordion accordion-flush" id="accordionFlushExample21">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed buttonred" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwentyone" aria-expanded="false" aria-controls="flush-collapseTwentyone">
                   AFC Championship Bills V Cheifs L(24-21)
                </button>
            </h2>
            <div id="flush-collapseTwentyone" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample21">
                <div class="accordion-body">The Bills season concluded with a 32–29 loss to the Kansas City Chiefs in the AFC Championship Game.</div>
            </div>
        </div>
    </div>
</div>
</div>


    </div>
    </body>

