
   <body class ='bodycolor'>
   <div class="image" style="background-image: url(<%= asset_path 'homeimage.jpg' %>);">
</div>
   <div class="container text-center bodycolor">
        <div class="row">
            <div class="col-sm col-sm-red" id = headertext>Welcome To My Bills Webpage</div>
        </div>
        <div class="row">
            <div class="col-sm col-sm-red textboxtitle">Recent News
                <br>
                <p class ="paragraphtext">The most recent news as of today when I'm writing this is the Bills signing wr Khalil Shair to a 4 year 60.2 million dollar contract with 32 million gaurenteed. 
                </p>
            </div>
            <div class="col-sm col-sm-blue textboxtitle">Why The Bills
                <br>
                <p class ="paragraphtext">I grew up a Patriots fan, but I ended up getting bored of football and I got back into it through fantasy football and Josh Allen and ever since I haven't missed watcing over 5 games.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm col-sm-blue textboxtitle">
                Favorite Players
                <br>
                <p class ="paragraphtext">My current top 5 favorite players on the Buffalo Bills are in order: Josh Allen, 
                    Terrel Bernard, Khalil Shakir, Christan Benford, and finally Matt Milano 
                </p>
            </div>
               
            <div class="col-sm col-sm-red textboxtitle">Games I Have Been To
                <br>
                <p class ="paragraphtext">I have been to 5 Bills game so far in my life in varying locations. I went to Bills Patriots in 2021, Bills Jets in 2022, Bills Jaguars in 2023, Bills Steelers in 2024 and Bills Chiefs in 2024
                </p>
            </div>
        </div>
    </div>
    </body>